<div id="main">
    <div id="box1">

    </div>
    <div id="box2">
        <div id="text">
            EXTREME <br> UI DESIGN
        </div>
    </div>

    <div id="box3">
        <div id="container">
            <div id="logo">
                <img src="../../assets/bio-beacon-logo.png">
            </div>
            <div id="menu">
                <ul>
                    <li>Home</li>
                    <li>Services</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Help</li>
                </ul>
            </div>
        </div>
    </div>
</div>