#main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  background: rgb(45, 19, 44);
  background: linear-gradient(
    360deg,
    rgba(45, 19, 44, 1) 0%,
    rgba(128, 19, 54, 1) 35%,
    rgba(199, 44, 65, 1) 62%,
    rgba(238, 69, 64, 1) 100%
  );
}

#main-image {
  height: 60%;
  /* width: 60%; */
}

.container1{
  width: 50%;
  height: 100%;
  /* background-image: url("../../assets/bio-beacon-logo.png"); */
  position: absolute;
}

#box1 {
  width: 50%;
  height: 100%;
  /* background-image: url("../../assets/bio-beacon-logo.png"); */
  position: absolute;
  bottom: -20%;
  left: 30%;
  animation: main-image-animation 3s forwards 0s;
}

#box1:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  /* background-image: url("../../assets/bio-beacon-logo.png"); */
  left: 0px;
  z-index: -1;
}

@keyframes main-image-animation {
  from {
    left: 30%;
    width: 50%;
  }
  to {
    width: 0px;
    left: 55%;
  }
}

#box2 {
  width: 50%;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  position: absolute;
  /* top: 250px;
    left: 100px; */
  overflow: hidden;
}

#text-container {
  margin: auto;
  text-align: center !important;
  position: absolute;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(0%);

  font-size: 8em;
  font-weight: 500;
  line-height: 130px;
}
