<div id="main">
  <div id="box1">
    <img id="main-image" src="../../assets/bio-beacon-logo-white.png" />
  </div>
  <div id="box2">
    <div id="text-container">
      BIO BEACON
      <br />
      <!-- <div id="buttons"> -->
        <button
          mat-raised-button
          style="background-color: #801336; color: white"
        >
          About
        </button>
        <button
          mat-raised-button
          style="background-color: #c72c41; color: white; margin-left: 10px"
        >
          Sign In
        </button>
      <!-- </div> -->
    </div>
  </div>

  <!-- <div id="box3">
        <div id="container">
            <div id="logo">
                <img src="../../assets/bio-beacon-logo-white.png">
            </div>
            <div id="menu">
                <ul>
                    <li>Home</li>
                    <li>Services</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Help</li>
                </ul>
            </div>
        </div>
    </div> -->
</div>
